@use "../../../styles/variables";

$spacing: 3rem;

.page-container {
    height: 100%;
    width: 100%;
    padding: $spacing;
    display: grid; 
    grid-template-columns: auto 1fr; 
    grid-template-rows: auto 1fr auto; 
    gap: $spacing; 
    grid-template-areas: 
      "header header"
      "project-menu project-preview"
      "contact project-preview"; 
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    width: 100%;
    grid-area: header;
    align-self: flex-start;
    align-items: center;
    gap: $spacing;
}

.header-text {
    line-height: 1;
    white-space: nowrap;
}

.header-line {
    height: 0.5rem;
    width: 100%;
    background-color: variables.$color-primary;
    border-radius: 0.25rem;
}

.project-preview {
    grid-area: project-preview;
    display: flex;
    justify-content: center;
}

.project-preview-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.project-menu-wrapper {
    grid-area: project-menu;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
    justify-content: center;
}

.contact {
    grid-area: contact;
}