@use "../../../styles/variables";
@use "../../../styles/typography";

$large-spacing: 3rem;
$small-spacing: 2rem;

.page-container {
    height: 100%;
    width: 100%;
    display: grid;
    gap: $large-spacing;
    grid-template-columns: auto minmax(0, 1fr); 
    grid-template-rows: auto minmax(0, 1fr) auto; 
    grid-template-areas: 
        "header header"
        "project-menu project-preview"
        "contact project-preview";

    @media only screen and (max-width: variables.$breakpoint-small) {
        gap: $small-spacing; 
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: auto auto auto minmax(0, 1fr); 
        grid-template-areas: 
            "header"
            "contact"
            "project-menu"
            "project-preview";
    }
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    width: 100%;
    grid-area: header;
    align-self: flex-start;
    align-items: center;
    gap: $large-spacing;

    @media only screen and (max-width: variables.$breakpoint-small) {
        gap: $small-spacing; 
    }
}

.header-text {
    line-height: 1;
    white-space: nowrap;
}

.header-line {
    height: 0.375rem;
    width: 100%;
    background-color: variables.$color-primary;
    border-radius: 0.25rem;
}

.project-preview {
    grid-area: project-preview;
    display: flex;
    justify-content: center;
}

.project-preview-image {
    height: auto;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    align-self: center;

    @media only screen and (max-width: variables.$breakpoint-small) {
        align-self: flex-start;
    }
}

.project-menu {
    grid-area: project-menu;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
    justify-content: center;
}

.project-menu-header {
    margin-bottom: 0.75rem;
}

.project-link {
    @extend %h6;
    width: fit-content;
    transition: transform 150ms ease-in-out;
    padding: 0.125rem;

    &.selected {
        font-weight: bold;
        transform: translateX(1rem);
    }
}

.contact {
    width: fit-content;
    grid-area: contact;
    text-decoration: underline;
}