<div class="page-container">
    <div class="header">
        <h1 class="header-text">Amanda Lee Design</h1>
        <hr class="header-line">
    </div>
    <div class="project-menu">
        <h2>Projects</h2>
        @for (preview of projects; track $index) {
            <!-- figure out how to make biome format html -->
            <a
                class="project-link"
                [routerLink]="['project', preview.route]"
                [class.selected]="$index === selectedProjectPreviewIndex()"
                (mouseover)="selectProjectPreview($index)"
                (focus)="selectProjectPreview($index)">
                {{ preview.name }}
            </a>
        }
    </div>
    <div class="project-preview">
        <!-- figure out a way to do this without reloading images each time -->
        <img class="project-preview-image" [src]="projects[selectedProjectPreviewIndex()].previewImageSrc">
    </div>
    <a href="http://localhost:4200" class="contact">Contact Me</a>
</div>