<div class="page-container">
    <div class="header">
        <img class="header-logo" src="/assets/logo.svg">
        <h1 class="header-text">Amanda Lee Design</h1>
        <hr class="header-line">
    </div>
    <div class="project-menu">
        <h2 class="project-menu-header">Projects</h2>
        @for (preview of projects; track $index) {
            <a
                class="project-link"
                [routerLink]="['project', preview.route]"
                [class.selected]="$index === selectedProjectPreviewIndex()"
                (mouseover)="selectProjectPreview($index)"
                (focus)="selectProjectPreview($index)">
                {{ preview.name }}
            </a>
        }
    </div>
    <div class="project-preview">
        @for (project of projects; track $index) {
            @if ($index === selectedProjectPreviewIndex()) {
                <img
                    class="project-preview-image"
                    [ngSrc]="project.previewImage.src"
                    [height]="project.previewImage.height"
                    [width]="project.previewImage.width"
                    [alt]="project.previewImage.description"
                    priority>
            }
        }
    </div>
    <a href="mailto:contact@amandaleedesign.art" class="contact">contact&#64;amandaleedesign.art</a>
</div>