@use "../../../styles/variables";

$spacing: 3rem;

.carousel-wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: variables.$color-primary;

    &:hover .carousel .preview-container {
        animation-play-state: paused;
    }
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;

    &.description {
        background-color: variables.$color-background;
    }
}

.preview-container {
    display: flex;
    gap: $spacing;
    padding-right: $spacing;
    will-change: transform;
    animation: scrolling 40s linear infinite;
}

.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing;
    width: 18rem;
    max-width: calc(100vw - $spacing);
}

.preview-description {
    width: 100%;
    background-color: variables.$color-background;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}