<div class="carousel-wrapper">
    <div class="carousel">
        <div class="preview-container">
            @for (preview of projectPreviews; track $index) {
                <div class="preview">
                    <img [src]="preview.imageSrc">
                </div>
            }
        </div>
        <div aria-hidden class="preview-container">
            @for (preview of projectPreviews; track $index) {
                <div class="preview">
                    <img [src]="preview.imageSrc">
                </div>
            }
        </div>
    </div>
    <div class="carousel description">
        <div class="preview-container">
            @for (preview of projectPreviews; track $index) {
                <div class="preview">
                    <span class="preview-description">{{preview.description}}</span>
                </div>
            }
        </div>
        <div aria-hidden class="preview-container">
            @for (preview of projectPreviews; track $index) {
                <div class="preview">
                    <span class="preview-description">{{preview.description}}</span>
                </div>
            }
        </div>
    </div>
</div>