@use "../../../styles/variables";
@use "../../../styles/typography";

.page-container {
    height: 100%;
    width: 100%;
    display: grid; 
    gap: 4rem; 
    grid-template-columns: 25rem variables.$divider-width minmax(0, 1fr); 
    grid-template-rows: auto minmax(0, 1fr); 
    grid-template-areas:
        "back . ."
        "text divider images"; 

    @media only screen and (max-width: variables.$breakpoint-large) {
        grid-template-columns: minmax(0, 1fr); 
        grid-template-rows: auto auto variables.$divider-width minmax(0, 1fr); 
        grid-template-areas:
            "back"
            "text"
            "divider"
            "images"; 
    }

    @media only screen and (max-width: variables.$breakpoint-small) {
        gap: 2rem;
    }
}

.back-link {
    grid-area: back;
    transform-origin: left;
}

.back-link, .image-selection-button {
    @extend %h5;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: transform 100ms linear;
    
    &:hover {
        transform: scale(1.05);
    }
}

.icon {
    height: var(--font-size-h5);
    width: var(--font-size-h5);
}

.project-text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.divider {
    grid-area: divider;
    background-color: variables.$color-primary;
    border-radius: variables.$divider-border-radius;
}

.project-images {
    grid-area: images;
    height: 100%;
    width: 100%;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: minmax(0, 1fr); 
    grid-template-rows: minmax(0, 1fr) auto; 
    grid-template-areas:
        "image"
        "buttons"; 

    @media only screen and (max-width: variables.$breakpoint-large) {
        grid-template-rows: auto minmax(0, 1fr); 
        grid-template-areas:
            "buttons"
            "image"; 
    }
}

.project-image {
    grid-area: image;
    height: auto;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    align-self: center;

    @media only screen and (max-width: variables.$breakpoint-large) {
        align-self: flex-start;
    }
}

.button-container {
    grid-area: buttons;
    display: flex;
    justify-content: space-evenly;
}

.painting-metadata {
    display: flex;
}