<div class="page-container">
    <a class="back-link" routerLink="/">Back</a>
    <div class="project-text">
        <h1>{{ project.name }}</h1>
        @if (project.mediumDescription != null) {
            <!-- only italicize the title -->
            <i class="medium-description">{{ project.mediumDescription}}</i>
        }
        <p>{{ project.description }}</p>
        @if (project.detailsImagesSrcs.length > 1) {
            <!-- Add alt text & hover/click animations -->
            <!-- Try out other icon variants -->
            <button (click)="selectPreviousImage()">
                <ald-icon icon="arrow-circle-left"></ald-icon>
            </button>
            <button (click)="selectNextImage()">
                <ald-icon icon="arrow-circle-right"></ald-icon>
            </button>
        }
    </div>
    <div class="divider"></div>
    <div class="project-images">
        <img class="project-image" [src]="project.detailsImagesSrcs[currentImageIndex()]">
    </div>
</div>