<div class="page-container">
    <a class="back-link" routerLink="/" [state]="{ previousProject: project.route }">
        <ald-icon class="icon" icon="chevron-left"></ald-icon>
        Back
    </a>
    <div class="project-text">
        <h1>{{ project.name }}</h1>
        @let fineArtMetadata = project.detailsImages[currentImageIndex()].fineArtMetadata;
        @if (fineArtMetadata != null) {
            <div class="fine-art-metadata">
                @if (fineArtMetadata.name != null && fineArtMetadata.medium != null) {
                    <div>
                        <i>{{ fineArtMetadata.name }}</i>
                        <span>, {{ fineArtMetadata.medium }}</span>
                    </div>
                }
                @if (fineArtMetadata.description != null) {
                    <p>{{ fineArtMetadata.description }}</p>
                }
            </div>
        } @else {
            <p>{{ project.description }}</p>
        }
    </div>
    <div class="divider"></div>
    <div class="project-images" #projectImages>
        @if (project.detailsImages.length > 1) {
            <div class="button-container">
                <button class="image-selection-button" (click)="selectPreviousImage()">
                    <ald-icon class="icon" icon="chevron-left"></ald-icon>
                    Previous
                </button>
                <button class="image-selection-button" (click)="selectNextImage()">
                    Next
                    <ald-icon class="icon" icon="chevron-right"></ald-icon>
                </button>
            </div>
        }
        @for (image of project.detailsImages; track $index) {
            @if ($index === currentImageIndex()) {
                <img
                    class="project-image"
                    [ngSrc]="image.src"
                    [priority]="$index === 0"
                    [height]="image.height"
                    [width]="image.width"
                    [alt]="image.description"
                    (click)="renderImageFullscreen()">
            }
        }
    </div>
</div>