@use "../styles/variables";

:host {
    display: block;
    height: 100%;
    width: 100%;
    padding: variables.$breakpoint-large-padding;

    @media only screen and (max-width: variables.$breakpoint-large) {
        overflow-y: auto;
    }

    @media only screen and (max-width: variables.$breakpoint-small) {
        padding: variables.$breakpoint-small-padding;
    }
}